<div>
  Recommended products  ! you may also like 
</div>


{% schema %}
{
  "name": "Cartmade recommendation",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "Star Colour", "default": "#ff0000" }
  ]
}
{% endschema %}

